{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in est est. Quisque eu ante consequat, elementum metus tincidunt, efficitur est. Aliquam non erat quis sem vehicula laoreet. Duis odio ex, tristique vitae lacinia rhoncus, pretium eu elit. Vivamus a nisi convallis, rhoncus nisl vel, interdum quam. Nam sed dui egestas, laoreet massa quis, dictum urna. In tincidunt ante et enim euismod, a dignissim urna dictum. Pellentesque et ante in diam posuere ultrices. Pellentesque iaculis risus ac quam commodo, eu fermentum mi sodales. Suspendisse potenti. Pellentesque a consectetur diam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut euismod erat tellus, sed gravida nisl vulputate suscipit. </p>
{{end}}